<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title of the document</title>
    <style>
        .haslo {
            font-weight: bold;
        }

        p {
            font-size: 15px;
        }
    </style>
</head>

<body>
<h1>Witaj {{name}}</h1>
<p>Właśnie zostałeś dodany do systemu OSK Drive</p>
<p>Twoje hasło to: <span class="haslo">{{password}}</span></p>
</body>

</html>